.experience__container {
    min-height: 300px;
    display: flex;
    justify-content: center;
    padding: 0 20px;
}
.experience__wrapper {
    width: 600px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.ex_company {
    width: 40%;
}
.ex_company li {
    padding: 10px;
    font-size: 14px;
    border-left: 3px solid var(--color-bg-variant);
    cursor: pointer;
}
.ex_company li.ex_active {
    color: var(--color-primary);
    background: var(--color-bg-variant);
    border-left: 3px solid var(--color-light);
}
.ex_company_details {
    width: 60%;
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 10px 20px;
    background: var(--color-bg-variant);
}
.ex_company_details h2 {
    font-size: 20px;
    color: var(--color-primary);
}
.ex_company_details h5 {
    font-size: 13px;
    color: var(--color-light);
}
.ex_company_details p {
    font-size: 14px;
    margin-top: -4px;
}
.ex_company_details ul h4 {
    color: var(--color-primary);
    padding-bottom: 10px;
}
.ex_company_details li {
    display: flex;
    justify-content: flex-start;
    align-items: top;
    gap: 10px;
    font-size: 14px;
    padding: 5px 0;
}
